img{
	height: 30px;
	width: 30px;
	float: left;
	vertical-align:middle;
}
label{
	text-align: right;
	margin:auto;
	width: 50%;
}
span{
	text-align: center;
	border-radius:5px;
	border:1px solid grey;
	background-color: lightgrey;
	color:grey
}
.error{
	width:100%;
	background-color: lightpink;
	border-right-color: transparent;
	border-radius:2em 2em 2em 4em;
		
}
input[type="checkbox"]{
	vertical-align: middle;
	background-color: red;
	border-color: transparent;
}
input[type='number']{
	width: 3em;
	border-radius:25px;
}
input[type="submit"]{
	width:15em;
	display: none;
	margin-left:15em;
	border-radius:20px;
	background-color: greenyellow;
	float:left;
	
}
.center{
	margin:auto;
	 width: 35em;  
	 height: 20em;
    border: solid 1px #aaa;  
    text-align: center;       
    line-height: 12px;  
    overflow: hidden;
	
	
}
.fields{
	opacity:0.5;
	margin:5px;
	width: 6em;  
	height: 5em;  
    border: solid 1px #ccc;  
    display: inline-block;  
    vertical-align: middle;
	}
.fields:hover{
	opacity: 1.0;
}